<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="index.css">
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body class="loginform">
<div align="center" >
    <h1>New Dish </h1>
    <br />
     <div class="col-sm-4">
   
   <form action="#" th:action="@{'/adminHome/saveItem/'+ ${id}}" th:object="${item}" method="post">
<div alight="left">
            <tr>
              
                <td>
                <input type="text" th:field="*{itemname}" class="form-control" placeholder="itemname" />
                </td>
            </tr>
         </div>  
            <br>
           <div alight="left">
          
            <tr>
                <td><input type="text" th:field="*{itemcost}" class="form-control" placeholder="itemcost" /></td>
            </tr>
            </div>
      <br>

            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Add Item</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>