<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"> </div>

<h3 align = "center">Today Cart Total Bill   💸 <span  th:text="${totalcost}"> <span></h3>

<div class="center-body" align = "center" >
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
      		<th>Order Id</th>
            <th>Dish Name</th>
            <th>Cost</th>
            <th>Plates</th>
            
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="item : ${listitem}">
		<td th:text="${item.orderid}">Student ID</td>
		<td th:text="${item.itemname}">StudentName</td>
		<td th:text="${item.cost}">Course</td>
		<td th:text="${item.plates}">Course</td>	 	    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	</table>
	</div>
</body>
</html>