<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"> </div>

<h3 font-weight-bold align = "center">Welocome  <span  th:text="${user.getUsername()}"> <span> </h3>
<h4 align = "center">Take some action by taking an order.</h4>
<div class="center-body" align = "center" >
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
      		<th>Dish number</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Add</th>
          
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="item : ${listitem}">
		<td th:text="${item.itemid}">Dish number</td>
		<td th:text="${item.itemname}">Name</td>
		<td th:text="${item.itemcost}">Cost</td>
		<td>
			<a th:href="@{'/userHome/userNewOrder/'+${item.itemname}+'/'+${item.itemcost}}">Add</a>
		</td>							    
		    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	</table>
	</div>
</body>
</html>